html,
body {
    background: #ffffff;
    color: #2c2e3e;
}

::selection {
    background: #38ef7d !important;
}

::-moz-selection {
    background: #38ef7d !important;
}

nav img {
    filter: grayscale(1) saturate(200%) brightness(300%);
}
a,
a:visited {
    color: #38ef7d;
    text-decoration: none
}

a::selection {
    color: #ffffff
}

a::-moz-selection {
    color: #ffffff
}

a.title p {
    color: #fff !important;
}

.e-content a {
    color: #04052e !important;
    background-image: linear-gradient(to right, #38ef7d 75%, #38ef7d 75%);
    background-position: 0 1em;
    background-repeat: repeat-x;
    background-size: 1em 1em;
    transition: all .3s ease;
    text-decoration: none !important;
}

.e-content a:hover {
    background-position: 0 0em;
    background-size: 1em 2em;
    text-decoration: none;
    transition: all .3s ease;
}

footer.authors a:last-child {
    color: #04052e !important;
    background-image: linear-gradient(to right, #38ef7d 75%, #38ef7d 75%);
    background-position: 17px 1em;
    background-repeat: no-repeat;
    background-size: 100% 1em;
    transition: all .3s ease;
    text-decoration: none !important;
}

footer.authors a:last-child:hover {
    background-position: 17px 0em;
    background-size: 100% 2em;
    text-decoration: none;
    transition: all .3s ease;
}

.banner {
    background: #e3e3e3;
}

.badge {

    background: #ffffff;
    color: #38ef7d;
    border: 1px solid #38ef7d;
}


.card {
    background: #fff;
    box-shadow: 0px 7px 42px -13px rgba(0,0,0,0.42);

}

.card h3 a {
    transition: color .1s ease-in;
    color: #2c2e3e
}

.card h3 a:hover {
    color: #38ef7d
}

.left-icon {
    align-self: center;
    padding: 1em;
    background: #e3e3e3;
    border-radius: 50px;
    margin: 1em;
    margin-right: 2em
}

body>footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: #2c2e3e;
    padding: 0 20%;
    margin-top: 5em;
    color: #fff;
}


.media-preview:not(.image) {
    background-color: #38ef7d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4em
}

.tabs {
    border-bottom: 1px solid #e3e3e3;
    padding: 0px;
    margin: auto 20% 2em;
    overflow: auto;
    display: flex
}

.tabs a {
    display: inline-block;
    color: #2c2e3e;
    padding: 1em
}

.tabs a.selected {
    color: #38ef7d;
    border-bottom: 1px solid #38ef7d
}
.tabs a:hover {
    color: #38ef7d;
}

a.p-author,
p a[href*="/@/"]:not(.button.inline-block) {
    background : rgba(0,0,0,.07);
    color: #2c2e3e;
    padding: 2px 10px;
    border-radius: 50px;
    text-decoration: none !important;
}

a.p-author:hover,
p a[href*="/@/"]:not(.button.inline-block):hover {
    background : #38ef7d;
    color: #2c2e3e;
}

header,
header #content {
    background: #38ef7d
}

header a,
header a:visited {
    color: #2c2e3e !important;
}

header nav#menu {
    position: relative;
    display: none;
    appearance: none;
    transform: skewX(-15deg);
    left: -1em;
    padding: 1em 1em 1em 2em;
    background: #38ef7d;
    align-self: flex-start
}

header nav#menu a {
    transform: skewX(15deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.4em;
    height: 1.4em;
    margin: 0;
    padding: 0;
    color: #e3e3e3;
    font-size: 1.33em
}

header nav hr {
    height: 100%;
    width: .2em;
    background: #fff;
    border: none;
    transform: skewX(-15deg)
}


.messages p.error {
    color: #a11111;
    background: #fde7e7;
    margin: 0;
    max-width: initial
}

.messages p.warning {
    color: #e0be00;
    background: #fff
}

.messages p.success {
    color: #0ba284;
    background: #e2fdf8
}



main article pre {
    padding: 1em;
    background: #e3e3e3;
    overflow: auto;
    border-radius: 5px
}


main .article-meta .tags li {
    display: inline-block;
    background: #e3e3e3;
    padding: 0px;
    margin: 0px 10px 10px 0px;
    border-radius: 500px;
    transition: all .2s ease-in
}

main .article-meta .tags li a {
    display: inline-block;
    padding: 10px 20px;
    color: #2c2e3e
}

main .article-meta .tags li:hover {
    background: #d8d8d8
}


main .article-meta .likes .action,
main .article-meta .reshares .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: none;
    color: #2c2e3e;
    border: none;
    font-size: 1.1em
}

main .article-meta .likes .action.reshared svg.feather,
main .article-meta .likes .action.liked svg.feather,
main .article-meta .reshares .action.reshared svg.feather,
main .article-meta .reshares .action.liked svg.feather {
    color: #ffffff;
    font-weight: 900
}


main .article-meta .reshares p,
main .article-meta .reshares .action:hover {
    color: #38ef7d
}

main .article-meta .reshares .action svg.feather {
    padding: .7em;
    box-sizing: border-box;
    color: #38ef7d;
    border: solid #38ef7d thin;
    font-weight: 600
}

main .article-meta .reshares .action:hover svg.feather {
    background: rgba(56, 239, 125, 0.15)
}

main .article-meta .reshares .action.reshared svg.feather {
    background: #38ef7d
}

main .article-meta .reshares .action.reshared:hover svg.feather {
    background: rgba(56, 239, 125, 0.25);
    color: #38ef7d
}

main .article-meta .comments h2 {
    color: #38ef7d;
    font-size: 1.5em;
    font-weight: 600
}

main .article-meta .comments a.button,
main .article-meta .comments form.inline,
main .article-meta .comments form.inline input {
    display: inline-block;
    padding: 0;
    background: none;
    color: #2c2e3e;
    border: none;
    margin-right: 2em;
    font-family: "Route159", serif
}

main .article-meta .comments a.button::before,
main .article-meta .comments form.inline::before,
main .article-meta .comments form.inline input::before {
    color: #38ef7d;
    padding-right: .5em
}

main .article-meta .comments a.button:hover,
main .article-meta .comments form.inline:hover,
main .article-meta .comments form.inline input:hover {
    color: #38ef7d
}

main .article-meta .comments .list {
    display: grid;
    margin: 0 0 -5em;
    padding: 0 20%;
    background: #e3e3e3
}


main .article-meta .comments .comment .author .display-name {
    color: #2c2e3e
}

main .article-meta .comments .comment .author:hover .display-name {
    color: #38ef7d
}

main .article-meta .comments .comment .author:hover small {
    opacity: 1
}

#plume-editor .placeholder {
    color: rgba(36, 36, 36, 0.4)
}

#plume-editor article {
    max-width: none;
    min-height: 80vh
}

.popup {
    position: fixed;
    top: 15vh;
    bottom: 20vh;
    left: 20vw;
    right: 20vw;
    background: #e3e3e3;
    border: 1px solid #38ef7d;
    z-index: 2;
    padding: 2em;
    overflow-y: auto
}


input:checked ~ .cw-container:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000
}


input,
textarea,
select {
    background: #FFFFFF;
    color: #ffffff;
    border: none;
    border: solid #e3e3e3 thin;

}

input:focus,
textarea:focus,
select:focus {
    border-color: #38ef7d
}


form.inline input[type="submit"] {
    display: inline-block;
    color: #38ef7d;
    cursor: pointer;
    font-size: 1em;
    width: auto;
    -webkit-appearance: none
}

form.inline input[type="submit"]:not(.button) {
    margin: 0 5px;
    padding: 0;
    background: transparent;
    color: #38ef7d;
    border: 2px solid #38ef7d !important;
    padding: 5px 10px;
}

form.inline input[type="submit"]:not(.button):hover {
    color: #2c2e3e;
    background:#38ef7d;

}

.button,
input[type="submit"],
button {
    transition: all .1s ease-in;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 500px;
    margin: .5em auto;
    padding: .75em 1em;
    background: transparent;
    color: #38ef7d;
    border: 1px solid #38ef7d;
    cursor: pointer
}

.button:hover,
input[type="submit"]:hover,
button:hover {
    background: #38ef7d;
    color: #ffffff;
}


.button.destructive:hover,
input[type="submit"].destructive:hover,
button.destructive:hover {
    background: rgba(233, 47, 47, 0.4);
    color: #ffffff
}


form.new-post input[type="submit"] {
    background: #e3e3e3;
    color: #2c2e3e;
    border: none;
    -webkit-appearance: none;
    font-family: "Playfair Display", serif;
    font-size: 1.5em
}

form.new-post input[type="submit"]:hover {
    background: #e3e3e3
}


footer.authors::before {
    content: 'By';
    color: #2c2e3e;
    margin-right: -25px;
}
footer.authors {
    background: rgba(0,0,0,.07);
    overflow: hidden;
    color: transparent;
    margin: 0;
    padding: 20px
}

footer.authors a:last-child::before {
    content: 'in ';
    color: #2c2e3e;
}

span.dt-published {
    color: #2c2e3e;
    margin: 0 -5px;
}

span.dt-published::before {
    content: 'on ';
}

@media screen and (max-width: 600px) {

    header:focus-within #content::before,
    #content.show::before {
        content: "";
        position: absolute;
        transform: skewX(-10deg);
        top: 0;
        left: -20%;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: #38ef7d
    }

    header:focus-within #content>nav a,
    #content.show>nav a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 1rem 1.5rem;
        color: #ffffff;
        font-size: 1.4em;
        font-weight: 300
    }

    header:focus-within #content>nav a>nav hr,
    #content.show>nav a>nav hr {
        display: block;
        margin: 0;
        width: 100%;
        border: solid #ffffff .1rem
    }

}
